.booking_widget__container {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.booking_widget__container__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking_widget__container h1 {
    color: #000000;
    font-family: 1.5rem;
}

.booking_widget__container p {
    color: #1e1e1e;
}

.booking_widget__container__actions {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
}

.booking_widget__container__actions Button {
    max-width: 15.625rem;
    height: 2.5rem;
}

.booking_widget__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking_widget__container__actions Button:hover {
    background-color: #1e1e1e;
}

.booking_widget__container__actions__return_inputs,
.booking_widget__container__actions__pick_up_inputs {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}


@media (max-width: 48rem) {
    .booking_widget__container {
        justify-content: center;
    }

    .booking_widget__container__actions__input {
        max-width: 8.75rem;
    }

    .booking_widget__container__actions {
        justify-content: center;
    }

}