.white, .black { 
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0;
    cursor: pointer;
}

.white {
    background-color: #fff;
    color: #000;
}

.black {
    background-color: #000;
    color: #fff;
}
