.card__container {
    text-align: center;
    width: 18.5rem;
    height: 15.3125rem;
    border: 1px solid #d9d9d9;
    border-radius: 0.5rem;
    padding: 1rem; 
}

.logo {
    padding-top: 1.5rem;
}

.card__container__content {
    font-size: 1rem;
    font-weight: 400;
}

.card__container__content h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.card__container__content p {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    font-size: 1rem;
}

