.header__container {
    background-color: #000;
}

.header__container__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 2.5rem
}

.header__container h2 {
    color: #fff;
    margin: 0;
    font-size: 2rem;
}

.header__container__upper__actions a, .header__container__nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.header__container__upper__actions a {
    color: #fff;
}

.header__container__uper__title {
    display: flex;
    align-items: center;
}

.header__container__upper__actions {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header__container__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__container__nav {
    width: 100%;
}

.header__container__nav__ul {
    display: flex;
    justify-content: center; 
}

.header__container__nav__li {
    background-color: #fff;
    color: #000;
    border-right: 0.0313rem solid #000;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    padding: 0 1rem; 
    flex-grow: 1; 
    text-align: center;
}

.header__container__nav a {
    color: #000;
}

.header__container__upper__actions__menu {
    display: none;
}

@media (max-width: 1135px) {
    .header__container__nav {
        display: none;
    }
    .header__container__upper__actions_a {
        display: none;
    }
    .header__container__upper__actions__menu {
        display: block;
    }

    .header__container__upper__title__span {
        display: none;
    }
}